# E*TRADE API
ETRADE_CONSUMER_KEY=
ETRADE_CONSUMER_SECRET=
ETRADE_OAUTH_TOKEN=
ETRADE_OAUTH_TOKEN_SECRET=
ETRADE_ACCOUNT_ID=

# SMTP / Email notifications
SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# Twilio SMS
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=

# Slack
SLACK_WEBHOOK_URL=